<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @genre.discription %>
</p>

<%= link_to 'Back', genres_path %> 
<%= if user_signed_in?
link_to ' | Edit', edit_genre_path(@genre) 
end %> 
<%= if user_signed_in?
link_to ' | Destroy', @genre, method: :delete, data: { confirm: 'Are you sure?' } 
end %>
